@model IncidentAddEditViewModel
@{
    ViewData["Title"] = Model.operation;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="@Model.operation" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.IncidentID" class="control-label"></label>
        <input asp-for="@Model.currentIncident.IncidentID" class="form-control" readonly />
        <span asp-validation-for="@Model.currentIncident.IncidentID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.Customer" class="control-label"></label>
        @*<select asp-for="@Model.currentIncident.CustomerID" class="form-control"
                asp-items="@(new SelectList(Model.customers, "CustomerID", "FullName", Model.currentIncident.CustomerID.ToString()))">
        </select>*@

        <select asp-for="@Model.currentIncident.CustomerID" class="form-control">
            <vc:customer-drop-down-options value="@Model.currentIncident.CustomerID"
                                          default-value=""
                                          default-text="Select a Customer Name..." />
        </select>



    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.Product" class="control-label"></label>
        @*<select asp-for="@Model.currentIncident.ProductID" class="form-control"
                asp-items="@(new SelectList(Model.products, "ProductID", "Name", Model.currentIncident.ProductID.ToString()))">*@
       
        <select asp-for="@Model.currentIncident.ProductID" class="form-control">
            <vc:product-drop-down-options value="@Model.currentIncident.ProductID"
                                         default-value=""
                                         default-text="Select a product..." />
            </select>

    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.Title" class="control-label"></label>
        <input asp-for="@Model.currentIncident.Title" class="form-control" />
        <span asp-validation-for="@Model.currentIncident.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.Description" class="control-label"></label>
        <textarea asp-for="@Model.currentIncident.Description" class="form-control"></textarea>
        <span asp-validation-for="@Model.currentIncident.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.TechnicianID" class="control-label"></label>
        @*<select asp-for="@Model.currentIncident.TechnicianID" class="form-control"
                asp-items="@(new SelectList(Model.technicians, "TechnicianID", "Name", Model.currentIncident.TechnicianID))">*@

        <select asp-for="@Model.currentIncident.TechnicianID" class="form-control">
            <vc:technician-drop-down value="@Model.currentIncident.TechnicianID"
                                         default-value=""
                                         default-text="Select a technician..." />
                @*<option selected></option>*@
            </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.DateOpened" class="control-label"></label>
        <input asp-for="@Model.currentIncident.DateOpened" class="form-control" />
        <span asp-validation-for="@Model.currentIncident.DateOpened" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.currentIncident.DateClosed" class="control-label"></label>
        <input asp-for="@Model.currentIncident.DateClosed" class="form-control" />
        <span asp-validation-for="@Model.currentIncident.DateClosed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
