@model List<Technician>
    @{
        ViewData["Title"] = "Technicians";
    }

    <p class="pagetitle">Technician List</p>
    <form asp-action="Add" asp method="get">
        <input type="submit" value="Add Technician" class="btn btn-primary buttons" />
    </form>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var tech in Model)
            {
                <tr>
                    <td>@tech.Name</td>
                    <td>@tech.Email</td>
                    <td>@tech.Phone</td>
                    <td>
                        <form asp-action="Edit" asp-route-id="@tech.TechnicianID" asp method="get">
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@tech.TechnicianID" method="post">
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Home</a>

